{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    {% comment %} 
        <h2 class="lal-bg"> HOME </h2>
        <p>This is home view...</p>
        <img src="{% static "images/test_nature.jpg" %}" alt="Nature image" class="custom-img"> 
    {% endcomment %}

    <p>{{name}}</p>

    {% with total=name|length %} 
        {{total}}
    {% endwith %}

    {% for nam in name %}
        {% if not nam == "Nazmul" %}
            <p>{{nam}}</p>
        {% endif %}
    {% endfor %}

    <p class="lal-bg">{{age}}</p>
</body>
</html>

