{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users | Sign-Up</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/output.css' %}"> {% endcomment %}
</head>
<body>

    <div class="w-2/3 mx-auto mt-10">
        
        {% if form.non_field_errors %}
            <ul>
                {% for error in form.non_field_errors %}
                    <li class="text-red-500">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="" method="POST">
            {% csrf_token %}
            {% comment %} {{form.as_p}} {% endcomment %}

            {% for field in form %}
                <p>
                    <label for="{{field.id_for_label}}">
                        {{field.label}}
                    </label>
                    {{field}}

                    {% if field.errors %}
                        <ul>
                            {% for error in field.errors %}
                                <li class="text-red-500">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </p>
            {% endfor %}

            <button type="submit" class="bg-blue-400 p-2">Sign Up</button>
        </form>

    </div>
    
</body>
</html>